AVDV_Sesión1.pdf
AVDV_Sesión2.pdf
AVDV_Sesión3.pdf

GitHub.txt
Copy of Laboratorio1_TalentoTech.ipynb
Laboratorio1.pdf
Enlace para analizar datos de Kaggle.docx
database.sqlite.zip
database.sqlite

BG.png
BG.psd
Iconos.psd
Llamadas.png
Porcentaje.png